@import './fonts.css';

body {
    font-family: 'Roboto';
}

h1 {
    font-size: 30px;
    color: blueviolet;
    text-align: center;
}

.logo {
    background-image: url('../assets//webpack-png.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}